#label{
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    
}
#p{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
body{
    background-image: url("images/todo.jpg");
    background-repeat: no-repeat;
    margin-top: 240px;
    width: 100%;
    background-color: lightgrey;
}